$unibet-media-width: 566px;

//----------------------------------------------------------------------------------------------------------------------
// Primary Color
//----------------------------------------------------------------------------------------------------------------------
$unibet-green: rgb(58, 170, 53);

//----------------------------------------------------------------------------------------------------------------------
// Neutral colors
//----------------------------------------------------------------------------------------------------------------------
$pure-white: rgb(255,255,255);
$light-smoke: rgb(238,238,238);
$medium-smoke: rgb(221,221,221);
$dark-smoke: rgb(204,204,204);
$granite: rgb(153,153,153);
$light-graphite: rgb(68,68,68);
$medium-graphite: rgb(51,51,51);
$dark-graphite: rgb(34,34,34);

//----------------------------------------------------------------------------------------------------------------------
// Highlight colors
//----------------------------------------------------------------------------------------------------------------------
$supernova-yellow: rgb(254,200,0);
$milano-red: rgb(179,10,10);

//----------------------------------------------------------------------------------------------------------------------
// Gradient colors
//----------------------------------------------------------------------------------------------------------------------
$turf-start: rgb(47,142,44);
$turf-end: rgb(46,116,35);

$silver-start: rgb(238,238,238);
$silver-end: rgb(221,221,221);

$gold-start: rgb(255,221,94);
$gold-end: rgb(254,200,0);

//----------------------------------------------------------------------------------------------------------------------
// Status colors
//----------------------------------------------------------------------------------------------------------------------
$status-ok: rgb(196,229,194);
$status-pending: rgb(255,241,191);
$status-not-ok: rgb(239,203,203);

//----------------------------------------------------------------------------------------------------------------------
// Link colors (all links should use these)
//----------------------------------------------------------------------------------------------------------------------
$link-color-default: $unibet-green; // DEFAULT
$link-color-cta: $supernova-yellow;

//----------------------------------------------------------------------------------------------------------------------
// Rounded corners
//----------------------------------------------------------------------------------------------------------------------
$rounding: 4px;

//----------------------------------------------------------------------------------------------------------------------
// Spacing
//----------------------------------------------------------------------------------------------------------------------
$spacing-wider: 32px;
$spacing-wide: 16px;
$spacing-medium: 12px;
$spacing-tight: 8px;

$unibet-separator: 1px solid $dark-smoke;

//----------------------------------------------------------------------------------------------------------------------
// Opacity on hover
//----------------------------------------------------------------------------------------------------------------------
$hover-opacity: 0.9;

//----------------------------------------------------------------------------------------------------------------------
// Font sizes
//----------------------------------------------------------------------------------------------------------------------
$font-size-small: 13px;
$font-size-medium: 14px; // DEFAULT
$font-size-headline-4: 16px;
$font-size-headline-3: 20px;
$font-size-headline-2: 24px;
$font-size-headline-1: 32px;
