@charset "UTF-8";

@import "../../conf-theme-bo";

//----------------------------------------------------------------------------------------------------------------------
// Device group setup
//----------------------------------------------------------------------------------------------------------------------
$device-group: desktop;
@import "device-group";

//----------------------------------------------------------------------------------------------------------------------
// Basic
//----------------------------------------------------------------------------------------------------------------------
@import "config";
@import "reset";

@mixin font-face-super {
	&, * {
		font-family: $font-face-super;
		font-weight: normal;
		text-transform: uppercase;
	}
}

@mixin text {
	font-family: $font-face-text;
	font-size: $font-size-medium;
	line-height: $line-height-medium;
}

@import "base/_font";
@import "base/_font-ttf";
@import "base/_link";

body {
	@include text;
    overflow-x: hidden;
    width: 100%;
    position: relative;
    &.canPostToParent {
        overflow-y: hidden;
    }
}

input {
	@include text;
}

h1 {
	&, a, span {
		@include font-face-super;
		font-size: $font-size-headline-1;
		line-height: $line-height-headline-1;
		text-decoration: none;
		text-transform: uppercase;
	}
}

h2 {
	&, a, span {
		@include font-face-super;
		font-size: $font-size-headline-2;
		line-height: $line-height-headline-2;
		text-decoration: none;
		text-transform: uppercase;
	}
}

h3 {
	&, a, span {
		font-weight: $font-weight-bold;
		font-size: $font-size-headline-3;
		line-height: $line-height-headline-3;
		text-decoration: none;
		text-transform: none;
	}
}

h4 {
	&, a, span {
		font-weight: $font-weight-bold;
		font-size: $font-size-headline-4;
		line-height: $line-height-headline-4;
		text-decoration: none;
		text-transform: none;
	}
}

a:active,
a:hover {
	text-decoration: none;
}

@mixin subheadline-small {
	&, a, span {
		font-weight: $font-weight-bold;
		font-size: $font-size-medium;
		line-height: $line-height-medium;
		text-decoration: none;
	}
}

@mixin subheadline-smaller {
	&, a, span {
		font-weight: $font-weight-bold;
		font-size: $font-size-small;
		line-height: $line-height-medium;
		text-decoration: none;
	}
}

.label {
	//@include subheadline-small;
	text-transform: capitalize;
	color: $granite;
}
/**
* Animations
*/
.collapsable-enter {
	opacity: 0.01;
	height: 0;
	overflow: hidden;
	transition: all .2s ease-in;
}

.collapsable-enter.collapsable-enter-active {
	opacity: 1;
	height: 40px;
}

.collapsable-leave {
	opacity: 1;
	height: 40px;
	overflow: hidden;
	transition: all .2s ease-in;
}
.clear {
    clear: both;
}
.collapsable-leave.collapsable-leave-active {
	opacity: 0.01;
	height: 0;
}
.two-column-container {
    width: 100%;

    .two-column {
        border-top: 1px solid $dark-smoke;
        padding: $spacing-medium 0;

        &:first-child {
            border-top: none;
        }

        .two-column-inner {
            padding: 0 $spacing-medium;
        }
    }

    @media (min-width: $unibet-media-width) {
        float: left;
        position: relative;
        right: 50%;

        border-right: 1px solid $dark-smoke;

        .two-column {
            width: 50%;
            float: left;
            position: relative;
            left: 50%;

            border-top: none;

            .two-column-inner {
                margin-top: $spacing-medium;
                padding-top: $spacing-medium;
                border-top: 1px solid $dark-smoke;
                &:first-child {
                    margin-top: 0;
                    border-top: none;
                    padding-top: 0;
                }
            }
        }
    }
}

.slide-enter {
    position: absolute;
    width: 100%;
    transition: left 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);

    &.slide-right {
        left: 100%;
    }
    &.slide-left {
        left: -100%;
    }

    &.slide-enter-active {
        position: absolute;
        width: 100%;

        &.slide-right {
            left: 0;
        }
        &.slide-left {
            left: 0;
        }
    }
}



.slide-leave {
    position: absolute;
    width: 100%;
    transition: left 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);

    &.slide-right {
        left: 0;
    }
    &.slide-left {
        left: 0;
    }
    &.slide-leave-active {
        position: absolute;
        width: 100%;
        &.slide-right {
            left: 100%;
        }
        &.slide-left {
            left: -100%;
        }
    }
}