//----------------------------------------------------------------------------------------------------------------------
// Superstar
//----------------------------------------------------------------------------------------------------------------------
@font-face {
	font-family: 'SuperstarUnibetProSSolid';
	src: url("/dist/theme/unibet/fonts/unibetpro11_11_14_edit.woff") format('woff');
}


//----------------------------------------------------------------------------------------------------------------------
// Roboto
//----------------------------------------------------------------------------------------------------------------------

@include device-group-desktop {
	// Regular
	@font-face {
		font-family: 'RobotoRegular';
	  	src: url("/dist/theme/unibet/fonts/roboto-regular-webfont.woff") format('woff');
		font-weight: normal;
		font-style: normal;
	}

	// Bold
	@font-face {
		font-family: 'RobotoRegular';
	  	src: url("/dist/theme/unibet/fonts/roboto-bold-webfont.woff") format('woff');
		font-weight: bold;
		font-style: normal;
	}
}

//----------------------------------------------------------------------------------------------------------------------
// Classes
//----------------------------------------------------------------------------------------------------------------------
.font-face-super {
	@include font-face-super;
}
