div.container {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

div.segment {
  display: block;
  position: relative;
}

input[type=radio]{
  position: absolute;
  visibility: hidden;
}

div > label{
  display: block;
  position: relative;
  padding: 0 8px 0 24px;
  margin: 0 auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

div.check{
  display: block;
  position: absolute;
  border: 1px solid #777;
  border-radius: 100%;
  height: 14px;
  width: 14px;
  top: 0px;
  left: 0px;
  z-index: 5;
}

div.container > div:hover  .check {
  border: 1px solid #147b45;
}

.check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 8px;
  width: 8px;
  top: 3px;
  left: 3px;
  margin: auto;
}

input[type=radio]:checked ~ .check {
  border: 1px solid #147b45;
}

input[type=radio]:checked ~ .check::before{
  background: #147b45;
}
